In [47]:
import numpy as np
import pandas as pd

**TRAITEMENTS PRELIMINAIRES DES DONNEES**

In [48]:
df = pd.read_csv('dataverse_files/Avian_influenza_wildlife_surveillance_France_2016_to_2022.csv')
df.head()

,uid,ID,Results_of_analysis,Bird_species_FR,CD_nom,Bird_species_LAT,Bird_family_latin,Code_INSEE_municipality,Obs_date,Zone_of_enhanced_surveillance_ZRP,Name_ZRP,Nb_birds_lab_pools,X_Municipality_centroid_Lambert93,Y_Municipality_centroid_Lambert93
0,3887,44_20221116_B,HP,Goeland_argente,3302,Larus_argentatus,Laridae,44211,18/08/2022,Yes,DPM_DE_MESQUER_AU_CROISIC_ET_BAIE_DE_VILAINE,1.0,285931,6708326
1,3888,26_20220321_A,negative,Milan_royal,2846,Falco_milvus,Accipitridae,26064,20/01/2022,No,NaN,1.0,858600,6425700
2,3903,41_20180724_A,negative,Pelican_blanc,2460,Pelecanus_onocrotalus,Pelecanidae,41198,22/05/2018,No,NaN,1.0,574450,6684932
3,3901,31_20210304_A,negative,Pigeon_biset,3420,Columba_livia,Columbidae,31488,03/02/2021,No,NaN,1.0,578848,6286405
4,3892,07_20220518_A,negative,Pigeon_ramier,3424,Columba_palumbus,Columbidae,7349,29/03/2022,Yes,FLEUVE_ET_VALLEE_DU_RHONE,1.0,840540,6413065

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4076 entries, 0 to 4075
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   uid                                4076 non-null   int64
 1   ID                                 4076 non-null   object
 2   Results_of_analysis                4076 non-null   object
 3   Bird_species_FR                    4076 non-null   object
 4   CD_nom                             4076 non-null   int64
 5   Bird_species_LAT                   4076 non-null   object
 6   Bird_family_latin                  4062 non-null   object
 7   Code_INSEE_municipality            4076 non-null   object
 8   Obs_date                           4076 non-null   object
 9   Zone_of_enhanced_surveillance_ZRP  4076 non-null   object
 10  Name_ZRP                           1901 non-null   object
 11  Nb_birds_lab_pools                 4069 non-null   float64
 12  X_Municipality_centroid_Lambert93  4076 non-null   int64
 13  Y_Municipality_centroid_Lambert93  4076 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 445.9+ KB

In [53]:
df.describe()

,uid,CD_nom,Nb_birds_lab_pools,X_Municipality_centroid_Lambert93,Y_Municipality_centroid_Lambert93
count,4076.000000,4076.000000,4069.000000,4.076000e+03,4.076000e+03
mean,2052.422964,37557.934985,1.517080,6.006043e+05,6.709835e+06
std,1202.335989,129386.864672,1.538115,2.428472e+05,2.376212e+05
min,1.000000,0.000000,1.000000,1.033080e+05,6.109485e+06
25%,1019.750000,2506.000000,1.000000,3.860240e+05,6.546843e+06
50%,2038.500000,2708.000000,1.000000,6.041950e+05,6.754640e+06
75%,3057.250000,3342.000000,1.000000,8.124670e+05,6.875424e+06
max,4770.000000,895998.000000,19.000000,1.236284e+06,7.108280e+06

In [54]:
# CHANGEMENT DE L'INDEX DU DATAFRAME

print(len(df['uid'].unique()))
print(df.index)

#On peut donc prendre la colonne 'uid' comme index

df = df.set_index('uid')

4076
RangeIndex(start=0, stop=4076, step=1)

In [55]:
# SUPPRESSION DES COLONNES INUTILES

df = df.drop('ID',axis=1)

In [56]:
# RENOMMAGE DES COLONNES

df.columns = ['Test_PCR_positif','Espece_nom_fr','Espece_ID','Espece_nom_latin','Famille_nom_latin','Commune_ID','Date_observation','ZRP','ZRP_Name','Nombre_oiseaux_analyses','X_localisation','Y_localisation']
# 'ZRP' = 'Zone à Risque Particulier', définies au niveau gouvernemental

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4076 entries, 3887 to 4625
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Test_PCR_positif         4076 non-null   object
 1   Espece_nom_fr            4076 non-null   object
 2   Espece_ID                4076 non-null   int64
 3   Espece_nom_latin         4076 non-null   object
 4   Famille_nom_latin        4062 non-null   object
 5   Commune_ID               4076 non-null   object
 6   Date_observation         4076 non-null   object
 7   ZRP                      4076 non-null   object
 8   ZRP_Name                 1901 non-null   object
 9   Nombre_oiseaux_analyses  4069 non-null   float64
 10  X_localisation           4076 non-null   int64
 11  Y_localisation           4076 non-null   int64
dtypes: float64(1), int64(3), object(8)
memory usage: 414.0+ KB

In [57]:
df.head()

,Test_PCR_positif,Espece_nom_fr,Espece_ID,Espece_nom_latin,Famille_nom_latin,Commune_ID,Date_observation,ZRP,ZRP_Name,Nombre_oiseaux_analyses,X_localisation,Y_localisation
uid,,,,,,,,,,,,
3887,HP,Goeland_argente,3302,Larus_argentatus,Laridae,44211,18/08/2022,Yes,DPM_DE_MESQUER_AU_CROISIC_ET_BAIE_DE_VILAINE,1.0,285931,6708326
3888,negative,Milan_royal,2846,Falco_milvus,Accipitridae,26064,20/01/2022,No,NaN,1.0,858600,6425700
3903,negative,Pelican_blanc,2460,Pelecanus_onocrotalus,Pelecanidae,41198,22/05/2018,No,NaN,1.0,574450,6684932
3901,negative,Pigeon_biset,3420,Columba_livia,Columbidae,31488,03/02/2021,No,NaN,1.0,578848,6286405
3892,negative,Pigeon_ramier,3424,Columba_palumbus,Columbidae,7349,29/03/2022,Yes,FLEUVE_ET_VALLEE_DU_RHONE,1.0,840540,6413065

In [38]:
# AMELIORATION DU TYPE DE DONNEES CONTENUES DANS 'Test__PCR_positif' :

print(df['Test_PCR_positif'].unique())
print('Ancien type dans la colonne Test_PCR_positif :',df['Test_PCR_positif'].dtypes)

df['Test_PCR_positif'] = (df['Test_PCR_positif']=='HP')
print('Nouveau type dans la colonne Test_PCR_positif :',df['Test_PCR_positif'].dtypes)

[ True False]
bool

In [39]:
# AMELIORATION DU TYPE DE DONNEES CONTENUES DANS 'ZRP' :

print(df['ZRP'].unique())
print('Ancien type dans la colonne ZRP :',df['ZRP'].dtypes)

df['ZRP'] = (df['ZRP']=='Yes')
print('Nouveau type dans la colonne ZRP :',df['ZRP'].dtypes)

['Yes' 'No']
Ancien type dans la colonne ZRP : object
Nouveau type dans la colonne ZRP : bool

In [45]:
# AMELIORATION DU TYPE DE DONNEES CONTENUES DANS 'Date_observation' :

print('Ancien type dans la colonne Date_observation :',df['Date_observation'].dtypes)

df['Date_observation'] = df['Date_observation'].astype('datetime64[ns]')

print('Nouveau type dans la colonne Date_observation :',df['Date_observation'].dtypes)

Ancien type dans la colonne Date_observation : object
Nouveau type dans la colonne Date_observation : datetime64[ns]

In [44]:
# AMELIORATION DU TYPE DE DONNEES CONTENUES DANS 'Nombre_oiseaux_analyses' :

# NE FONCTIONNE PAS A CAUSE DES NA !

#print('Ancien type dans la colonne Nombre_oiseaux_analyses :',df['Nombre_oiseaux_analyses'].dtypes)

#df['Nombre_oiseaux_analyses'] = df['Nombre_oiseaux_analyses'].astype(int)
#print('Nouveau type dans la colonne Nombre_oiseaux_analyses :',df['Nombre_oiseaux_analyses'].dtypes)

In [46]:
df.head()

,Test_PCR_positif,Espece_nom_fr,Espece_ID,Espece_nom_latin,Famille_nom_latin,Commune_ID,Date_observation,ZRP,ZRP_Name,Nombre_oiseaux_analyses,X_localisation,Y_localisation
uid,,,,,,,,,,,,
3887,False,Goeland_argente,3302,Larus_argentatus,Laridae,44211,2022-08-18,True,DPM_DE_MESQUER_AU_CROISIC_ET_BAIE_DE_VILAINE,1.0,285931,6708326
3888,False,Milan_royal,2846,Falco_milvus,Accipitridae,26064,2022-01-20,False,NaN,1.0,858600,6425700
3903,False,Pelican_blanc,2460,Pelecanus_onocrotalus,Pelecanidae,41198,2018-05-22,False,NaN,1.0,574450,6684932
3901,False,Pigeon_biset,3420,Columba_livia,Columbidae,31488,2021-03-02,False,NaN,1.0,578848,6286405
3892,False,Pigeon_ramier,3424,Columba_palumbus,Columbidae,7349,2022-03-29,True,FLEUVE_ET_VALLEE_DU_RHONE,1.0,840540,6413065