In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Avian_influenza_wildlife_surveillance_France_2016_to_2022.csv')

In [5]:
df.head(10)

,uid,ID,Results_of_analysis,Bird_species_FR,CD_nom,Bird_species_LAT,Bird_family_latin,Code_INSEE_municipality,Obs_date,Zone_of_enhanced_surveillance_ZRP,Name_ZRP,Nb_birds_lab_pools,X_Municipality_centroid_Lambert93,Y_Municipality_centroid_Lambert93
0,3887,44_20221116_B,HP,Goeland_argente,3302,Larus_argentatus,Laridae,44211,18/08/2022,Yes,DPM_DE_MESQUER_AU_CROISIC_ET_BAIE_DE_VILAINE,1.0,285931,6708326
1,3888,26_20220321_A,negative,Milan_royal,2846,Falco_milvus,Accipitridae,26064,20/01/2022,No,NaN,1.0,858600,6425700
2,3903,41_20180724_A,negative,Pelican_blanc,2460,Pelecanus_onocrotalus,Pelecanidae,41198,22/05/2018,No,NaN,1.0,574450,6684932
3,3901,31_20210304_A,negative,Pigeon_biset,3420,Columba_livia,Columbidae,31488,03/02/2021,No,NaN,1.0,578848,6286405
4,3892,07_20220518_A,negative,Pigeon_ramier,3424,Columba_palumbus,Columbidae,7349,29/03/2022,Yes,FLEUVE_ET_VALLEE_DU_RHONE,1.0,840540,6413065
5,3896,69_20210524_A,negative,Tourterelle_turque,3431,Columba_decaocto,Columbidae,69273,28/04/2021,Yes,FLEUVE_ET_VALLEE_DU_RHONE,1.0,848476,6509441
6,3897,69_20160113_A,negative,Tourterelle_turque,3431,Columba_decaocto,Columbidae,69296,13/01/2016,Yes,FLEUVE_ET_VALLEE_DU_RHONE,2.0,843308,6507083
7,3898,69_20160324_A,negative,Tourterelle_turque,3431,Columba_decaocto,Columbidae,69249,24/03/2016,No,NaN,1.0,826276,6510664
8,3899,01_20210204_A,negative,Tourterelle_turque,3431,Columba_decaocto,Columbidae,1053,01/02/2021,Yes,LA_DOMBES,1.0,872839,6569849
9,3904,2A_20190124_A,negative,Tourterelle_turque,3431,Columba_decaocto,Columbidae,2A004,09/01/2019,No,NaN,1.0,1171812,6109485

AttributeError: 'DataFrame' object has no attribute 'unique'